@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 12px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .projects-container {
    @apply w-full relative flex flex-col items-center;
  }

  .details-button {
    @apply absolute top-0 right-10 z-20 bg-white/30 backdrop-blur-md p-2 
           rounded-lg shadow-lg cursor-pointer text-[#a16848] hover:text-[#7c584a] 
           hover:scale-110 transition-transform pointer-events-auto;
  }

  .slider-container {
    @apply w-full flex items-center;
  }

  .arrow-button {
    @apply text-[#a16848] hover:text-[#7c584a] hover:scale-125 transition-transform
           bg-white/30 backdrop-blur-md p-2 rounded-full shadow-lg cursor-pointer;
  }
}
