@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 12px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .projects-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-button {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #a16848;
    transition: transform 0.2s, color 0.2s;
  }

  .details-button:hover {
    color: #7c584a;
    transform: scale(1.1);
  }

  .slider-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .arrow-button {
    color: #a16848;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
  }

  .arrow-button:hover {
    color: #7c584a;
    transform: scale(1.25);
  }
}
